<div class="jumbotron">
    <h1>Welcome to Sorting Hat Graphs</h1>
    <p class="lead">This is an application to run sorting algorithms and display you the operations performed in a graph</p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>See how the sort works</h2>
        <p>Visit one of the menus to see the sort operations graph</p>
    </div>
    <div class="col-md-6">
        <h2>Perform a sort</h2>
        <p>
            You can also execute the sort via a RESTful POST web request. Here's an example:
        </p>
        <p>POST /api/quicksort HTTP/1.1</p>
        <p>Host: localhost:53658</p>
        <p>Content-Type: application/x-www-form-urlencoded</p>
        <p>list=5&list =3&list =1&list =4&list =6&list =13&list =0&list =15</p>

    </div>
</div>